.title__box {
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  color: #d30d17;
}
.hr {
  border: none;
  background-color: #d30d17;
  color: #d30d17;
  height: 1px;
}
.grid_item__box {
  grid-column: center-start / center-end;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 0.5fr));
  grid-gap: 0.2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.grid__footer {
  display: grid;
}
.bet__box {
  align-items: center;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(6, minmax(1rem, 1fr));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.place_bet_button {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: end;
  grid-template-columns: 0.1fr;
  padding-right: 0.8rem;
  border-radius: 0.1rem;
  padding: 1rem;
  text-align: start;
}
.button_bet {
  height: 2rem;
  background: none;
  color: inherit;
  padding: 0;
  padding-left: 1rem;
  font-size: 0.8rem;
  // font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: start;

  // font-weight: bold;
  justify-content: start;
  justify-items: start;
  border-radius: 0.1rem;
  // padding-bottom: 1rem;
}
.button_place_bet {
  height: 1.5rem;
  width: 10rem;
  background: none;
  background-color: #d30d17;
  color: white;
  padding: 0;
  font-size: 0.7rem;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding-top: 0.4rem;
  text-decoration: none;
  font-weight: bold;

  //   border: none;
  //   font-weight: bold;

  border-radius: 0.1rem;
}

.button_random_bet {
  text-align: center;

  height: 2rem;
  width: 10rem;
  background: none;
  background-color: #d30d17;
  color: white;
  padding: 0;
  font-size: 0.8rem;
  // font: inherit;
  cursor: pointer;
  outline: 1px;
  border: none;
  font-weight: bold;
  justify-content: center;
  justify-items: center;
  border-radius: 0.1rem;
  margin: 0.5rem;
}
button:active {
  transform: scale(0.99);
}
.a {
  text-decoration: none;
}
a:active {
  transform: scale(0.99);
}
input {
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.1rem;
  columns: black;
}

.popup {
  display: grid;
  justify-content: center;
  justify-items: start;

  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  padding-top: 9rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 50rem;
    height: 30rem;
    background-color: black;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    justify-content: center;
    text-align: center;

    &__game__text {
      text-decoration: none;
      justify-content: center;
      text-align: center;
      display: grid;
      grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
      align-items: center;
      justify-items: start;
      padding-top: 10rem;
      font-size: 2rem;
      font-weight: bold;
      color: white;
      padding-bottom: 2rem;
    }
    &__tite {
    }
    &__details {
      font-size: 1rem;
    }
  }
}
